.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-area-chart
      h2 Pixel Flow Graph
    div.widget-graph
      #AngularFlowGraph(style='width:100%; height:300px;')
