html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    title Commander

    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/reset.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/site.css")

    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/container.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/grid.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/header.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/image.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/menu.css")

    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/divider.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/list.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/segment.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/dropdown.css")
    link(rel="stylesheet" type="text/css" href="/scripts/semantic-ui/dist/components/icon.css")

    link(rel="stylesheet" type="text/css" href="/css/commander.css")
    
    script(type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js")
    script(type="text/javascript" src="//golden-layout.com/files/latest/js/goldenlayout.min.js")
    link(type="text/css" rel="stylesheet" href="//golden-layout.com/files/latest/css/goldenlayout-base.css")
    link(type="text/css" rel="stylesheet" href="//golden-layout.com/files/latest/css/goldenlayout-dark-theme.css")
    

  body
    .ui.fixed.inverted.menu
      #top-menu-bar.ui.container
        a.header.item(href="#")
          img#logo(src='/img/Commander-Mark-White.png')
          | Commander

        div.ui.simple.dropdown.item
          | Views
          i.dropdown.icon
          div.menu
            a.item(href="#") Heads Up Display
            a.item(href="#") Mission Planner
            div.item
              i.dropdown.icon
              | User Created
              div.menu
                a.item(href="#") Karthik's
                a.item(href="#") Matt's


        div.ui.simple.dropdown.item
          | Widgets 
          i.dropdown.icon
          div.menu
            div.item Widget 1
            div.item Widget 2
            div.item Widget 3
            div.item
              i.dropdown.icon
              | Core Services
              div.menu
                div.item Widget 1
                div.item Widget 2
                div.item Widget 3
                div.item Widget 4
                div.item Widget 5
            div.item
              i.dropdown.icon
              | Applications
              div.menu
                div.item Actuator Motor Control
                div.item Battery
                div.item Checksum
                div.item Position Estimator
                div.item
                  i.dropdown.icon
                  | Applications
                  div.menu
                    div.item Widget 1
                    div.item Widget 2


    .ui.main.text.container
      button.ui.primary.button(onClick="loadTest('testpage1');") Load Test 1
      button.ui.primary.button(onClick="loadTest('testpage2');") Load Test 2
      
      #wrapper
        ul#menuContainer
        #layoutContainer
        #main-content
      
      script.
        var loadTest = function(pageName) {
          $('#main-content').load(pageName, function () {
            console.log('Load complete');
          });
        };
        
        var config = {
          settings: {
            selectionEnabled: true
          },
          content: [{
            type: 'row',
            content: [{
              type:'component',
              componentName: 'example',
              componentState: { text: 'Component 1' }
            },
            {
              type:'component',
              componentName: 'example',
              componentState: { text: 'Component 2' }
            }]
          }]
        };
        
        
        
        
        
        
        
        var myLayout = new window.GoldenLayout( config, $('#layoutContainer')  );
        
        myLayout.registerComponent( 'example', function( container, state ){
          container.getElement().html( '<h2>' + state.text + '</h2>' );
        });
        
        myLayout.init();
        
        var addMenuItem = function( title, text ) {
          var element = $( '<li>' + text + '</li>' );
          $( '#menuContainer' ).append( element );

          var newItemConfig = {
            title: title,
            type: 'component',
            componentName: 'example',
            componentState: { text: text }
          };
          
          myLayout.createDragSource( element, newItemConfig );
          
          element.click(function(){
            if( myLayout.selectedItem === null ) {
              alert( 'No item selected' );
            } else {
              myLayout.selectedItem.addChild( newItemConfig );
            }
          });
          
        };

        addMenuItem( 'Add me!', 'You\'ve added me!' );
        addMenuItem( 'Me too!', 'You\'ve added me too!' );
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    div.ui.inverted.vertical.footer.segment
      div.ui.center.aligned.container
        img.ui.centered.mini.image(src="/img/Windhover-Mark-White.png")
        | Windhover Labs
        div.ui.inverted.section.divider
