block main
  .row.row-fluid
    header
      span.widget-icon
        i.fa.fa-table
      h2 Actuator Outputs
    div
      .jarviswidget-editbox
      .widget-body
        .table-responsive
          table.table.table-condensed
            tbody
              tr
                th Timestamp
                td
                  span.format-microseconds(data-sage={tlm: [{name:'/CFS/AMC/Timestamp'}]}) ---
              tr
                th Count
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Count'}]}) ---
              tr
                th Output 0
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_0'}]}) ---
              tr
                th Output 1
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_1'}]}) ---
              tr
                th Output 2
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_2'}]}) ---
              tr
                th Output 3
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_3'}]}) ---
              tr
                th Output 4
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_4'}]}) ---
              tr
                th Output 5
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_5'}]}) ---
              tr
                th Output 6
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_6'}]}) ---
              tr
                th Output 7
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_7'}]}) ---
              tr
                th Output 8
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_8'}]}) ---
              tr
                th Output 9
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_9'}]}) ---
              tr
                th Output 10
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_10'}]}) ---
              tr
                th Output 11
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_11'}]}) ---
              tr
                th Output 12
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_12'}]}) ---
              tr
                th Output 13
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_13'}]}) ---
              tr
                th Output 14
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_14'}]}) ---
              tr
                th Output 15
                td
                  span(data-sage={tlm: [{name:'/CFS/AMC/Output_15'}]}) ---
