block main
  .row.row-fluid
    header
      span.widget-icon
        i.fa.fa-table
      h2 General
    div
      .jarviswidget-editbox
        .widget-body
          .table-responsive
            table.table.table-condensed
              tbody
                tr
                  th Cmd Count
                  td
                    span(data-sage={tlm: [{name:'/CFS/AMC/CmdCounter'}]}) ---
                tr
                  th Error Count
                  td
                    span(data-sage={tlm: [{name:'/CFS/AMC/ErrCounter'}]}) ---
          footer
            button.btn.btn-primary(data-sage={cmd: {name:'/CFS/AMC/NoOp'}}) No-Op
            button.btn.btn-primary(data-sage={cmd: {name:'/CFS/AMC/Reset'}}) Reset 
              
      
