body {
  background-color:  #034e8e;
  color: #ffffff;
}

#top-menu-bar {
  width: 100%;
}

#main-container2 {
  background-color:  #034e8e;
  color: #ffffff;
}
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ui.text.container{
  max-width: 100% !important;
}
.ui.container{
  width: 100%;
}
.lm_goldenlayout {
    background: #353535 !important;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 3.6em;
  background-color:  #353535;
}

.wireframe {
  margin-top: 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}



h2{
  font: 14px Arial, sans-serif;
  color:#fff;
  padding: 10px;
  text-align: center;
}

html, body{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

#wrapper{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#menuContainer{
  width: 9.5%;
  height: 100%;
  position:absolute;
  top: 0;
  left: -9%;
  background: #f8f9fa;
  padding: 1%;
  z-index: 4;

}

#menuContainer li{
  cursor: move;
  /* border-bottom: 1px solid #000;
  border-top: 1px solid #333; */
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #289ea7;
  font: 12px Arial, sans-serif;
}

#menuContainer li:hover{
  background: #11767d;
  color: #CCC;
}

.menuico{
  float:right;
}

#layoutContainer{
  width: 99%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 1%;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}

/* Table css */
.table-condensed.table > tbody > tr > td,
.table-condensed.table > tbody > tr > th,
.table-condensed.table > tfoot > tr > td,
.table-condensed.table > tfoot > tr > th,
.table-condensed.table > thead > tr > td,
.table-condensed.table > thead > tr > th {
  padding: 5px 10px !important;
  border: 1px solid green;
}

.widget-body>footer>button {
  padding: 5px 10px !important;
  border: 5px solid #222;
}

.row.row-fluid{
  padding: 5% !important;
  overflow: auto;

}

.centercontainer{
  display: block;
  width: -moz-fit-content; /* Firefox */
  width: fit-content; /* Chrome */
  margin-left: auto;
  margin-right: auto;
}
.ui.centered.mini.image{
  width:50px !important;
  padding-right: 5px !important
}

.hover-input{
    z-index: 1;
    position: absolute;
    width: 20%;
    margin: 3px;
    display: none;
}

.wh-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
