/* App style */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
  background-color:  #353535;
  color: #ffffff;
}

body {
  max-height: calc(100% - 57px) !important;
  height: calc(100% - 57px) !important;
}

h2 {
  font: 14px Arial, sans-serif;
  color:#fff;
  padding: 10px;
  text-align: center;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

.btn:focus { /* All buttons will not have focus feature  */
  box-shadow: none;
}


/* Modal */

.modal-content {
  background: #343a40;
}

.modal-header {
  border-bottom: unset;
}

.modal-footer {
  border-top: unset;
}

/* Navigation Bar - Top */

.wh-nav-btn{
  margin-bottom:unset;
  margin-left: 5px;
  margin-right: 5px;
}

.indicator-draggable {
  border: 1px solid #ffae00;
  padding: 2px;
  margin: 2px 4px;
  border-radius: 3px;
  background: #ffae00;
  z-index: 5000;
  color:white;
  cursor: pointer;
}

.indicator-val {
  position: relative;
  top: -2px;
  left: 10px;
}

.indicator-close {
  background-color: #f8f9facc !important;
  position: relative;
  font-size: xx-small;
  top: -20px;
  left: 9px;
  visibility: hidden;
}

.indicator-draggable:hover .indicator-close{
  visibility: visible;
}

#topSnapable {
  background: #686868;
  border-radius: 4px;
  display: flex;
}

/* Navigation Menu Bar - Left */
.menuDropdown {
  position: relative;
}

.menuContainer {
  background: #FFF0;
  border: unset !important;
  width: 250px;
  position: absolute;
  top: 100%;
  display: none;
  z-index: 1000;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .6rem 0 0;
}

.menuShow {
  display: block !important;
  right: 0 !important;
  left: auto !important;
}

.menuContainer li {
  cursor: move;
  cursor: pointer;
  padding: 10px 20px;
  /* color: #FFF; */
  font: 12px Arial, sans-serif;
}

.menuContainer li:hover {
  color: #343a40;
}

/* Layout */
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ui.text.container {
  max-width: 100% !important;
}

.ui.container {
  width: 100%;
}

.lm_goldenlayout {
    background: #353535 !important;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 57px;
  background-color:  #353535;
}

.wireframe {
  margin-top: 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.centered.mini.image {
  width:50px !important;
  padding-right: 5px !important
}

#wrapper {
  height: 97.9%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#layoutContainer {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4);
  padding:7px;
}

/* Navigation Bar - Bottom */
.nav-text-adjust {
  font-size: 10px;
  margin: 0 10px;
  font-style: italic;

}

.float-right {
  float:right;
}
.float-left {
  float:left;
}

#tooltips {
  background-color: var(--btn-bg-color);
  color: var(--btn-font-color-d);
  padding: 0px 5px;
}

/* Widget CSS*/

/* color themes */
:root {
    --btn-bg-color:     #ffae00;
    --btn-font-color-d: #343a40;
    --btn-font-color-l: #fff;
    --btn-bg-hvr-color: #ffae00b3;


    --header-bg-color:  #a06d00 ;
    --content-bg-color: #25518080;

    --th-bg-color:      #25518080;
    --td-border-color:  #074486;
    --td-bg-color:      #2551804d;
}

header {
  background: var(--header-bg-color);
  border-radius: 5px;
}

header > .widget-icon {
	display: block;
	width: 30px;
	height: 32px;
	position: relative;
	float: left;
	font-size: 111%;
	line-height: 32px;
	text-align: center;
	margin-right: -10px;
  padding-top:10px;
  padding-left: 10px;
}

.row {
  width:inherit;
  height: inherit;
  padding: 1% !important;
  overflow: auto;
  margin: unset !important;
}

.table-condensed.table > tbody > tr > td,
.table-condensed.table > tbody > tr > th,
.table-condensed.table > tfoot > tr > td,
.table-condensed.table > tfoot > tr > th,
.table-condensed.table > thead > tr > td,
.table-condensed.table > thead > tr > th {
  padding: 5px 10px !important;
  border: 1px solid var(--td-border-color) !important;
  font-size: 12px;
  background-color: var(--td-bg-color);
}

.table-condensed.table > tbody > tr > th,
.table-condensed.table > tfoot > tr > th,
.table-condensed.table > thead > tr > th {
  background-color: var(--th-bg-color);
  width: 50%;
}

.widget-graph {
  background-color: var(--content-bg-color);
}

footer > button {
  padding: 2px 10px !important;
  margin: 5px;
  border-radius: 5px !important;
}

footer > .btn-primary {
    background-color:  #fff0;
}
footer {
  display: block !important;
  padding: 10px;
}

header > button {
  float:right;
  font-size: small !important;
  position: relative;
  margin: 4px;
  padding: 4px !important;
}
/* Features */

.rotate-right-left {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-left-right {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* buttons */
.btn-primary,
.btn-primary:hover {
  color: var(--btn-font-color-l);
}

.btn-outline-primary,
.btn-outline-primary:hover {
  color: var(--btn-font-color-d);
}

.btn-primary,
.btn-outline-primary {
  background-color: var(--btn-bg-color);
  border-color: var(--btn-bg-color);
}

.btn-primary:hover,
.btn-outline-primary:hover  {
  background-color: var(--btn-bg-hvr-color);
  border-color: var(--btn-bg-hvr-color);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    color: var(--btn-bg-color);
    background-color: color: var(--btn-font-color-d);
    border-color: var(--btn-bg-color);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: unset !important;


}

@media only screen and (max-width: 992px) {
  .nav-text-adjust {
    margin: -8px 10px;
  }
}

@media only screen and (max-width: 1550px) {
  #topSnapable {
    display: none;
  }
